<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LSUIElement</key>
	<true/>
	<key>SUFeedURL</key>
	<string>https://raw.githubusercontent.com/myusuf3/bulletproof/main/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>nl2RX586Y+ISKzPwZwcCyJztK5ZbifiyPpw4k7xUBQI=</string>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>NSServices</key>
	<array>
		<dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>Proofread</string>
			</dict>
			<key>NSMessage</key>
			<string>proofreadInPlace</string>
			<key>NSPortName</key>
			<string>bulletproof</string>
			<key>NSSendTypes</key>
			<array>
				<string>public.utf8-plain-text</string>
			</array>
			<key>NSReturnTypes</key>
			<array>
				<string>public.utf8-plain-text</string>
			</array>
			<key>NSTimeout</key>
			<string>60000</string>
		</dict>
		<dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>Proofread to Clipboard</string>
			</dict>
			<key>NSMessage</key>
			<string>proofreadToClipboard</string>
			<key>NSPortName</key>
			<string>bulletproof</string>
			<key>NSSendTypes</key>
			<array>
				<string>public.utf8-plain-text</string>
			</array>
			<key>NSTimeout</key>
			<string>60000</string>
		</dict>
	</array>
</dict>
</plist>
